<div id="icon" class="header">
  <i class="fas fa-hiking"></i>
</div>
<div id="heading" class="header">
  <h1>Trail Explorer</h1>
</div>
<div id="menu-btn" class="header">
  <i class="fas fa-bars"></i>
</div>