<nav id="menu" class="nav-hide">
  <ul>
    <li><i class="far fa-map left-icon"></i>Navigation<i class="fas fa-map-pin right-icon"></i></li>
    <li><a href="/home"><i class="fas fa-campground left-icon"></i>Home</li></a>
    <li class="search"><i class="fas fa-search-location left-icon"></i>Search</li>
    <li><a href="#"><i class="far fa-address-card left-icon"></i>Profile</li></a>
    <li><a href="#"><i class="fas fa-route left-icon"></i>Favorites</li></a>
    <li><a href="#"><i class="fas fa-users left-icon"></i>About Us</li></a>
  </ul>
</nav>