body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 5fr 2fr 18fr 4fr 9fr 9fr 3fr;
  grid-template-areas:
  "a b b b b c"
  "d d d d d d"
  "e e e e e e"
  "f f f f f f"
  "g g g h h h"
  "i i i j j j"
  "k k k k k k";
}

div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#heading {
  grid-area: b;
}

#icon {
  grid-area: a;

}

#menu-btn {
  grid-area: c;

}

#user {
  grid-area: d;
}

#upper-img {
  grid-area: e;
  display: block;

}

#quote {
  grid-area: f;
}

#quote p {
  margin: 5%;
}

#search {
  grid-area: g;

}

#profile {
  grid-area: h;

}

#favorites {
  grid-area: i;

}

#about {
  grid-area: j;

}

#foot {
  grid-area: k;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#menu {
  display: none;
  float:right;
  width: 40%;
  height: 89%;
}

#menu ul {
  height:95%;
  width:95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#user-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.user-modal-content {
  margin: 40% auto;
  width: 75%;
}

.user-modal-content input {
  margin: .5rem auto;
}

.user-modal-content span {
  margin: auto .7rem;
}

.modal-btn {
  margin-top: 1.5rem;
}

#search-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.search-modal-content {
  margin: 40% auto;
  width: 75%;
}

.search-modal-content input {
  margin: .5rem auto;
}

.search-modal-content span {
  margin: auto .7rem;
}