body {
  background-image: url(../assets/garrett-parker-2jyxADdd2t4-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 50%;
}

div {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.header i {
  font-size: 2.4rem;
}

.center-icon {
  font-size: 4rem;
}

#heading {
  font-size: 2rem;
}

#user {
  font-size:1.5rem;
  text-shadow: 0px 0px 4px black;
}

#quote {
  background-color: rgba(0, 0, 0, 0.8);
}

#foot {
  background-color: rgba(0, 0, 0, 0.9);
}

#menu {
  background-color: rgba(0, 0, 0, 0.8);
  border:2px solid white;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  color: white;
}

#menu ul {
  font-size: 1.25rem;
}

#menu a {
  color: white;
  font-weight: bold;
}

.left-icon {
  margin-right: 0.5rem;
}

.right-icon {
  margin-left: 0.5rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-square {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.user-modal-content span {
  font-style: italic;
}

.modal-btn {
  padding: .3rem;
}

.user-modal-content {
	background-color:#0a36029f;
	padding: 24px 12px;
	border: 1px solid white;
	border-radius: 12px;
	color: white;
	text-align: center;
}

.search-modal-content {
	background-color:#0a36029f;
	padding: 24px 12px;
	border: 1px solid white;
	border-radius: 12px;
	color: white;
	text-align: center;
}

.trail-rating {

}

.trail-rating i {
  color: gold;
}

.trail-name {
  text-shadow:0px 0px 3px black;
}

.trail-id {
  font-size: .7rem;
  font-style: italic;
}

.trail-city {
  font-size: .8rem;
  font-style: oblique;
}

.trail-distance {

}